.container {
  display: flex;
  align-items: center;
  margin-right: auto;
  cursor: pointer;
}

.auth {
  display: none;
  border-bottom: 1px solid #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  cursor: pointer;
}

@media (min-width: 1240px) {
  .container {
    margin-left: auto;
    margin-right: 105px;
  }

  .auth {
    display: inline;
  }
}
