.container {
  display: flex;
  align-items: center;
  margin-right: auto;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
}

.language {
  padding-top: 4px;
  color: #eaeaea;
}

.auth {
  display: none;
  margin-left: 25px;
  border-bottom: 1px solid #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  cursor: pointer;
}

@media (min-width: 1280px) {
  .container {
    margin-right: 0;
    margin-left: auto;
  }

  .auth {
    display: inline;
  }
}
