.droplist {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 110px;
}

.menu {
  display: flex;
}

.current {
  margin-right: 6px;
  font-size: 13px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
  user-select: none;
}

.list {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background: #000046;
  box-shadow: 0px 0px 8px rgba(13, 74, 145, 0.6);
}

.listItem {
  padding: 0 8px;
  cursor: pointer;
  user-select: none;
}

.listItem:hover,
.listItem:focus {
  background-color: rgba(255, 255, 255, 0.15);
}

.category {
  font-size: 13px;
  line-height: 24px;
  color: #eaeaea;
}

.navList {
  display: none;
  align-items: flex-end;
}

.navItem:nth-child(2) > .link {
  font-weight: 600;
  color: #ffffff;
}

.link {
  color: #eaeaea;
  cursor: pointer;
}

.navItem:not(:last-child) > .line {
  margin: 0 15px;
  border-right: 1px solid #ffffff;
  font-size: 11px;
}

@media (min-width: 1240px) {
  .droplist {
    display: none;
  }

  .navList {
    display: flex;
  }
}
