.setting {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-left: auto;
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow 250ms linear;
}

.setting:hover,
.setting:focus {
  box-shadow: 0px 0px 8px rgba(13, 74, 145, 0.6);
}

.icon:hover,
.icon:focus {
  stroke: #0096c7;
  stroke-width: 0.3px;
}

@media (min-width: 1240px) {
  .setting {
    display: none;
  }
}
