.wrapper {
  padding-top: 40px;
  padding-bottom: 80px;
}

.container {
  padding: 0 20px;
}

@media (min-width: 1240px) {
  .wrapper {
    padding-top: 70px;
    padding-bottom: 120px;
  }

  .container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0;
  }
}
