.list {
  margin-bottom: 40px;
}

.item:first-child {
  margin-bottom: 15px;
  font-weight: 600;
}

.item {
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.item:last-child {
  margin-bottom: 0;
}
