.categoryList {
  display: none;
}

.categoryItem {
  box-sizing: content-box;
  padding: 0 15px;
  color: #eaeaea;
  cursor: pointer;
}

.categoryItem:not(:last-child) {
  border-right: 1px solid #ffffff;
}

.categoryItem:hover,
:focus {
  color: #ffffff;
}

.active {
  color: #ffffff;
}

@media (min-width: 1280px) {
  .categoryList {
    display: flex;
  }

  .select {
    display: none;
  }
}
