.result {
  margin-bottom: 30px;
}

.title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.number {
  color: #0096c7;
}

.line {
  width: 140px;
  margin-bottom: 10px;
  color: #2a172d;
}

.description {
  max-width: 264px;
  margin-bottom: 22px;
  font-size: 12px;
  line-height: 15px;
  color: #5b5b5b;
}

.options {
  display: flex;
  align-items: center;
  height: 48px;
}

.select {
  display: flex;
}

.time {
  margin-right: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #0096c7;
}

@media (min-width: 1240px) {
  .result {
    margin-bottom: 44px;
  }

  .title {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
  }

  .line {
    width: 170px;
    margin-bottom: 16px;
  }

  .container {
    display: flex;
    align-items: baseline;
  }

  .description {
    max-width: 404px;
    margin-right: 20px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 20px;
  }

  .options {
    height: 0;
  }
}
