.card {
  margin-bottom: 30px;
  padding: 16px;
  border: 1px solid #eaeaea;
}

.avatar {
  width: 70px;
  height: 70px;
  margin-right: 16px;
  border: 1px solid #000000;
  border-radius: 50%;
}

.mainInfo {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  color: #202020;
}

.title {
  margin-bottom: 6px;
  font-weight: 600;
}

.info {
  margin-bottom: 6px;
}

.location {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 16px;
}

.jobList {
  margin-bottom: 20px;
}

.job {
  font-size: 14px;
  line-height: 17px;
  color: #5b5b5b;
}

.job:not(:last-child) {
  margin-bottom: 12px;
}

.flag {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.flagStatus {
  width: 12px;
  height: 12px;
  margin-right: 4px;
  border-radius: 50%;
  background-color: #4caf50;
}

.flagTitle {
  font-size: 12px;
  line-height: 15px;
  color: #4caf50;
}

.navigation {
  display: flex;
  align-items: center;
}

.updateTime {
  font-size: 12px;
  line-height: 15px;
  color: #adadad;
}

.settings {
  display: flex;
  position: relative;
  height: 100%;
  margin-left: auto;
}

.iconContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.iconContainer:not(:last-child) {
  margin-right: 12px;
}

.options {
  position: absolute;
  top: -70px;
  right: 28px;
  padding: 20px;
  z-index: 3;
  border: 0.5px solid #eaeaea;
  border-radius: 12px;
  background-color: #ffffff;
  /* pointer-events: none; */
}

.option {
  white-space: nowrap;
  font-size: 14px;
  line-height: 17px;
  color: #1e1e1e;
  user-select: none;
  cursor: pointer;
  transition: color 250ms linear;
}

.option:hover,
.option:focus {
  color: #0096c7;
}

.option:not(:last-child) {
  margin-bottom: 20px;
}
