.card {
  margin-bottom: 30px;
  padding: 16px;
  border: 1px solid #eaeaea;
}

.container {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.avatar {
  width: 70px;
  height: 70px;
  margin-right: 16px;
  border: 1px solid #000000;
  border-radius: 50%;
}

.title {
  margin-bottom: 6px;
  font-weight: 600;
}

.info {
  margin-bottom: 6px;
}

.location {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 16px;
}

.locationName {
  font-size: 13px;
  line-height: 16px;
}

.jobList {
  margin-bottom: 20px;
}

.job {
  font-size: 14px;
  line-height: 17px;
  color: #5b5b5b;
}

.job:not(:last-child) {
  margin-bottom: 12px;
}

/* .status {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.statusIcon {
  width: 12px;
  height: 12px;
  margin-right: 4px;
  border-radius: 50%;
  background-color: #4caf50;
}

.status {
  font-size: 12px;
  line-height: 15px;
  color: #4caf50;
} */

.navigation {
  display: flex;
  align-items: center;
}

/* .statusTime {
  font-size: 12px;
  line-height: 15px;
  color: #adadad;
} */

@media (min-width: 1240px) {
  .card {
    position: relative;
  }

  .avatar {
    width: 164px;
    height: 164px;
    margin-right: 20px;
  }

  .container {
    margin-bottom: 0;
  }

  .mainInfo {
    margin-bottom: 18px;
  }

  .title {
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }

  .personalInfo {
    display: flex;
    align-items: center;
  }

  .info {
    margin-right: 20px;
    margin-bottom: 0;
  }

  .locationName {
    font-size: 14px;
    line-height: 17px;
  }

  .jobList {
    margin-left: 184px;
    margin-top: -80px;
  }

  /* .statusInfo{
    margin-left: 184px;
  }

  .statusInfo{
    width: 164px;
  } */
}
