.card {
  display: flex;
  flex-wrap: nowrap;
  padding: 16px;
  border: 1px solid #eaeaea;
}

.avatar {
  flex-shrink: 0;
  width: 70px;
  height: 70px;
  margin-right: 16px;
  border: 1px solid #000000;
  border-radius: 50%;
}

.container {
  width: 230px;
}

.content {
  margin-left: -86px;
}

@media (min-width: 1240px) {
  .card {
    flex-wrap: wrap;
    padding: 20px;
  }

  .avatar {
    width: 164px;
    height: 164px;
    margin-right: 20px;
  }

  .container {
    width: auto;
  }

  .content {
    margin-left: 0;
  }
}

@media (min-width: 1240px) {
  .card {
    position: relative;
  }
}
