.list {
  width: 291px;
  padding-left: 34px;
}

.item:first-child {
  margin-top: 14px;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #555556;
}

.item:last-child {
  margin-bottom: 0;
}

.label {
  margin-left: 10px;
}

.value {
  margin-left: auto;
}

@media (min-width: 1240px) {
  .list {
    padding-left: 30px;
  }
}
