.select {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  user-select: none;
}

.item {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #eaeaea;
  cursor: pointer;
}

.item.drop {
  position: absolute;
  top: 20px;
}

.item.drop:hover,
.item.drop:focus {
  background: rgba(255, 255, 255, 0.15);
}

.language {
  width: 20px;
  padding-top: 3px;
  text-align: center;
  color: #eaeaea;
}

.up {
  position: relative;
  top: 3px;
  transform: rotate(180deg);
}

@media (min-width: 1240px) {
  .item {
    font-size: 14px;
    line-height: 17px;
  }

  .item.drop {
    top: 30px;
    right: 24px;
  }

  .iconInternet {
    width: 41px;
    height: 41px;
  }
}
