.section {
  position: relative;
  padding-top: 90px;
  padding-bottom: 35px;
}

.container {
  padding: 0 20px;
}

.closeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 8px rgba(13, 74, 145, 0.15);
  border-radius: 8px;
  background-color: #ffffff;
  cursor: pointer;
  transition: box-shadow 250ms linear;
}

.closeBtn:hover,
.closeBtn:focus {
  box-shadow: 0px 0px 8px rgba(13, 74, 145, 0.6);
}

.title {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.toggleContainer {
  padding: 14px;
}

.item:first-child {
  margin-top: 15px;
}

.item:not(:last-child) {
  margin-bottom: 15px;
}
