.social {
  display: flex;
  align-items: center;
  width: 256px;
  height: 56px;
  margin: 0 auto;
  margin-bottom: 108px;
  padding: 0 16px;
  background-color: yellow;
}

.link:not(:last-child) {
  margin-right: 16px;
}

.img {
  width: 24px;
  height: 24px;
  background-color: green;
}
