.user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 36px;
}

.avatar {
  margin-right: 11px;
}

.name {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}

@media (min-width: 1280px) {
  .user {
    display: none;
  }
}
