.container {
  padding: 14px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.item:not(:last-child) {
  margin-bottom: 14px;
}

.input {
  margin-right: 8px;
  appearance: none;
  position: absolute;
}

.checkbox {
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('../../../images/svg/checkbox.svg');
}

.value {
  display: inline-block;
  margin-left: auto;
}
