.container {
  width: 307px;
  padding: 14px 0;
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-right: 5px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  user-select: none;
}

.item:not(:last-child) {
  margin-bottom: 14px;
}

.label {
  display: flex;
  align-items: center;
  padding-left: 32px;
  cursor: pointer;
}

.input {
  position: absolute;
  appearance: none;
}

.checkbox {
  position: absolute;
  margin-left: -32px;
  width: 24px;
  height: 24px;
  background-image: url('../../../images/svg/checkbox.svg');
}

.input:checked + .checkbox {
  background-image: url('../../../images//svg/checkbox-done.svg');
}

.icon {
  margin-right: 8px;
}

.value {
  display: inline-block;
  margin-left: auto;
}

.arrow {
  position: relative;
  top: -2px;
}

.up {
  top: 1px;
  transform: rotate(180deg);
}
