.nav {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 8px;
  padding-top: 5px;
}

@media (min-width: 1280px) {
  .nav {
    flex-direction: row;
    margin-bottom: 0;
    padding: 12px 0;
  }
}
