.nav {
  display: flex;
  flex-direction: row-reverse;
  /* height: 26px; */
  /* margin-bottom: 11px; */
}

@media (min-width: 1280px) {
  .nav {
    flex-direction: row;
    margin-bottom: 0;
    padding: 12px 0;
  }
}
