.statusInfo {
  display: flex;
  flex-direction: column;
  user-select: none;
}

.statusContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.status {
  font-size: 12px;
  line-height: 15px;
  color: #4caf50;
}

.statusIcon {
  display: block;
  width: 12px;
  height: 12px;
  margin-right: 4px;
  border-radius: 50%;
  background-color: #4caf50;
}

.settingsBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.statusTime {
  font-size: 12px;
  line-height: 15px;
  color: #adadad;
}

@media (min-width: 1240px) {
  .statusInfo {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
  }

  .statusContainer {
    margin-bottom: 0;
  }

  .statusTime {
    margin-right: 20px;
  }
}
