.result {
  margin-bottom: 30px;
}

.title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #202020;
}

.number {
  color: #0096c7;
}

.line {
  width: 140px;
  margin-bottom: 10px;
  color: #2a172d;
}

.description {
  max-width: 264px;
  margin-bottom: 22px;
  font-size: 12px;
  line-height: 15px;
  color: #5b5b5b;
}

.options {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
}

.select {
  display: flex;
}

.time {
  margin-right: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #0096c7;
}

.setting {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-left: auto;
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow 250ms linear;
}

.setting:hover,
.setting:focus {
  box-shadow: 0px 0px 8px rgba(13, 74, 145, 0.6);
}

.icon:hover,
.icon:focus {
  stroke: #0096c7;
  stroke-width: 0.3px;
}
