.settings {
  position: relative;
  display: flex;
  width: 60px;
}

.iconContainer:first-child {
  margin-right: 12px;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.options {
  position: absolute;
  top: -60px;
  left: -142px;
  z-index: 2;
  padding: 20px;
  border: 0.5px solid #eaeaea;
  border-radius: 12px;
  background-color: #ffffff;
}

.option {
  white-space: nowrap;
  font-size: 14px;
  line-height: 17px;
  color: #1e1e1e;
  user-select: none;
  cursor: pointer;
  transition: color 250ms linear;
}

.option:hover,
.option:focus {
  color: #0096c7;
}

.option:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: 1240px) {
  .settings {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 104px;
    transform: translate(0, -50%);
  }

  .iconContainer {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    border: 0.5px solid #eaeaea;
  }

  .options {
    top: -3px;
    left: -124px;
  }
}
