.toggleContainer {
  display: flex;
  align-items: center;
  padding: 14px 0;
}

.icon {
  margin-right: 8px;
}

.title {
  padding-bottom: 2px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}
