.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 20px;
}

.input {
  width: 100%;
  height: 48px;
  margin-bottom: 12px;
  padding: 12px;
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.15);
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}

.input::placeholder {
  color: #eaeaea;
}

.button {
  width: 100%;
  height: 48px;
  padding: 0 20px;
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: #fff9e4;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #303030;
  cursor: pointer;
}

@media (min-width: 1280px) {
  .form {
    flex-direction: row;
    padding-top: 73px;
    padding-bottom: 60px;
  }

  input:first-child {
    width: 410px;
  }

  .input {
    width: 205px;
    margin-right: 8px;
    margin-bottom: 0;
  }

  .button {
    width: 199px;
  }
}
